<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Title</h2>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <div class="container-icon-advantages">
          <svg width="64" height="64">
            <use href="./img/icons.svg#icon-antenna"></use>
          </svg>
        </div>
        <h3 class="advantages-title">Strategy</h3>
        <p class="advantages-text">
          Our goal is to identify the business problem to walk away with the
          perfect and creative solution.
        </p>
      </li>
      <li class="advantages-list-item">
        <div class="container-icon-advantages">
          <svg width="64" height="64">
            <use href="./img/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="advantages-title">Punctuality</h3>
        <p class="advantages-text">
          Bring the key message to the brand's audience for the best price
          within the shortest possible time.
        </p>
      </li>
      <li class="advantages-list-item">
        <div class="container-icon-advantages">
          <svg width="64" height="64">
            <use href="./img/icons.svg#icon-diagram"></use>
          </svg>
        </div>
        <h3 class="advantages-title">Diligence</h3>
        <p class="advantages-text">
          Research and confirm brands that present the strongest digital growth
          opportunities and minimize risk.
        </p>
      </li>
      <li class="advantages-list-item">
        <div class="container-icon-advantages">
          <svg width="64" height="64">
            <use href="./img/icons.svg#icon-astronaut"></use>
          </svg>
        </div>
        <h3 class="advantages-title">Technologies</h3>
        <p class="advantages-text">
          Design practice focused on digital experiences. We bring forth a deep
          passion for problem-solving.
        </p>
      </li>
    </ul>
  </div>
</section>
