<header class="header-nav">
  <div class="container header-container">
    <nav class="main-nav">
      <a href="./index.html" class="logo"
        >Web<span class="part-of-logo-header">Studio</span></a
      >
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="./index.html" class="nav-link">Studio</a>
        </li>
        <li class="nav-list-item">
          <a href="#portfolio" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-list-item">
          <a href="#footer" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="contacts">
      <ul class="contacts-list">
        <li class="contacts-list-item">
          <a href="mailto:info@devstudio.com" class="contacts-link"
            >info@devstudio.com</a
          >
        </li>
        <li class="contacts-list-item">
          <a href="tel:+110001111111" class="contacts-link"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>
    <button class="mobile-open-btn">
      <svg class="mobile-open-btn-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-mobile-open-btn"></use>
      </svg>
    </button>
  </div>
</header>
