<div class="mobile-menu-wrapper" id="menu">
  <div class="container mobile-menu-container">
    <button class="mobile-menu-close-btn">
      <svg
        class="mobile-menu-close-btn-icon"
        width="8"
        height="8"
        aria-label="close menu icon"
      >
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link link-color" href="./index.html">Studio</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#footer">Contacts</a>
        </li>
      </ul>
      <ul class="mobile-contact-list">
        <li class="mobile-contact-list-item">
          <a
            class="mobile-contact-list-link link-color"
            href="tel:+110001111111"
            >+11 (000) 111-11-11</a
          >
        </li>
        <li class="mobile-contact-list-item">
          <a class="mobile-contact-list-link" href="mailto:info@devstudio.com"
            >info@devstudio.com</a
          >
        </li>
      </ul>
      <ul class="mobile-social-list">
        <li class="mobile-social-list-item">
          <a href="" class="mobile-social-list-links">
            <svg
              class="mobile-social-list-icon"
              width="24"
              height="24"
              aria-label="instagram icon"
            >
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-list-item">
          <a href="" class="mobile-social-list-links">
            <svg
              class="mobile-social-list-icon"
              width="24"
              height="24"
              aria-label="instagram icon"
            >
              <use href="./img/icons.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-list-item">
          <a href="" class="mobile-social-list-links">
            <svg
              class="mobile-social-list-icon"
              width="24"
              height="24"
              aria-label="instagram icon"
            >
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobile-social-list-item">
          <a href="" class="mobile-social-list-links">
            <svg
              class="mobile-social-list-icon"
              width="24"
              height="24"
              aria-label="instagram icon"
            >
              <use href="./img/icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
