<div class="backdrop is-open">
  <div class="modal">
    <button class="modal-close-btn" type="button">
      <svg
        class="modal-close-btn-icon"
        width="8"
        height="8"
        aria-label="close modal icon"
      >
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">Leave your contacts and we will call you back</p>
    <form class="contacts-form">
      <div class="contacts-form-field-wrapper">
        <label class="contacts-form-label" for="user-name">Name</label>
        <div class="contacts-form-input-wrapper">
          <input
            class="contacts-form-input"
            id="user-name"
            name="user-name"
            type="text"
            pattern="[a-zA-Za-яА-ЯіІїЇєЄґҐ']+"
            title="Sofia"
            required
          />
          <svg
            class="contacts-form-input-icon"
            width="18"
            height="24"
            aria-label="icon user"
          >
            <use href="./img/icons.svg#icon-person"></use>
          </svg>
        </div>
      </div>
      <div class="contacts-form-field-wrapper">
        <label class="contacts-form-label" for="user-phone">Phone</label>
        <div class="contacts-form-input-wrapper">
          <input
            class="contacts-form-input"
            id="user-phone"
            name="user-phone"
            type="tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            required
          />
          <svg
            class="contacts-form-input-icon"
            width="18"
            height="24"
            aria-label="icon phone"
          >
            <use href="./img/icons.svg#icon-phone"></use>
          </svg>
        </div>
      </div>
      <div class="contacts-form-field-wrapper">
        <label class="contacts-form-label" for="user-email">Email</label>
        <div class="contacts-form-input-wrapper">
          <input
            class="contacts-form-input"
            id="user-email"
            name="user-email"
            type="email"
            required
          />
          <svg
            class="contacts-form-input-icon"
            width="18"
            height="24"
            aria-label="icon envelope"
          >
            <use href="./img/icons.svg#icon-email"></use>
          </svg>
        </div>
      </div>
      <div class="contacts-form-comment-wrapper">
        <label class="contacts-form-label" for="user-comment">Comment</label>
        <textarea
          class="contacts-form-comment"
          id="user-comment"
          name="user-comment"
          placeholder="Text input"
          required
        ></textarea>
      </div>
      <div class="contacts-form-checkbox-wrapper">
        <input
          class="contacts-form-checkbox visually-hidden"
          id="user-privacy"
          name="user-privacy"
          type="checkbox"
          value="true"
          required
        />
        <label class="contacts-form-checkbox-label" for="user-privacy">
          <span class="contacts-form-own-checkbox">
            <svg
              class="contacts-form-own-checkbox-icon"
              width="10"
              height="8"
              aria-label="checkmark icon"
            >
              <use href="./img/icons.svg#icon-checkmark"></use>
            </svg>
          </span>
          <div class="checkbox-text">
            I accept the terms and conditions of the
            <a class="privacy-policy" href="">Privacy Policy</a>
          </div>
        </label>
      </div>
      <button class="contacts-form-send-btn" type="submit">Send</button>
    </form>
  </div>
</div>
