<section class="portfolio-section" id="portfolio">
  <div class="container">
    <h2 class="our-portfolio-title">Our Portfolio</h2>
    <ul class="our-portfolio-list">
      <li class="our-portfolio-list-item">
        <a class="portfolio-link" href="">
          <div class="portfolio-img">
            <picture>
              <source
                srcset="./img/banking-app.jpg 1x, ./img/banking-app@2x.png 2x"
                media="(min-width: 1158px)"
              />
              <source
                srcset="
                  ./img/banking-app-tablet.jpg    1x,
                  ./img/banking-app-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/banking-app-mobile.jpg    1x,
                  ./img/banking-app-mobile@2x.jpg 2x
                "
                media="(max-width: 768px)"
              />
              <img src="./img/banking-app.jpg" alt="banking app" />
            </picture>
            <p class="overlay-p">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="apps">
            <h3 class="our-portfolio-list-title">Banking App</h3>
            <p class="our-portfolio-text">App</p>
          </div>
        </a>
      </li>
      <li class="our-portfolio-list-item">
        <a class="portfolio-link" href="">
          <div class="portfolio-img">
            <picture>
              <source
                srcset="
                  ./img/cashless-payment.jpg    1x,
                  ./img/cashless-payment@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/cashless-payment-tablet.jpg    1x,
                  ./img/cashless-payment-tablet@2x.jpg 2x
                "
                media="(min-width: 767px)"
              />
              <source
                srcset="
                  ./img/cashless-payment-mobile.jpg    1x,
                  ./img/cashless-payment-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="portfolio-img"
                src="./img/cashless-payment.jpg"
                alt="cashless payment"
              />
            </picture>
            <p class="overlay-p">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="apps">
            <h3 class="our-portfolio-list-title">Cashless Payment</h3>
            <p class="our-portfolio-text">Marketing</p>
          </div>
        </a>
      </li>
      <li class="our-portfolio-list-item">
        <a class="portfolio-link" href="">
          <div class="portfolio-img">
            <picture>
              <source
                srcset="
                  ./img/meditation-app.jpg    1x,
                  ./img/meditation-app@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/meditation-app-tablet.jpg    1x,
                  ./img/meditation-app-tablet@2x.jpg 2x
                "
                media="(min-width: 767px)"
              />
              <source
                srcset="
                  ./img/meditation-app-mobile.jpg    1x,
                  ./img/meditation-app-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/meditation-app.jpg" alt="meditation app" />
            </picture>
            <p class="overlay-p">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="apps">
            <h3 class="our-portfolio-list-title">Meditation App</h3>
            <p class="our-portfolio-text">App</p>
          </div>
        </a>
      </li>
      <li class="our-portfolio-list-item">
        <a class="portfolio-link" href="">
          <div class="portfolio-img">
            <picture>
              <source
                srcset="./img/taxi-service.jpg 1x, ./img/taxi-service@2x.png 2x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/taxi-service-tablet.jpg    1x,
                  ./img/taxi-service-tablet@2x.jpg 2x
                "
                media="(min-width: 767px)"
              />
              <source
                srcset="
                  ./img/taxi-service-mobile.jpg    1x,
                  ./img/taxi-service-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/taxi-service.jpg" alt="taxi service" />
            </picture>
            <p class="overlay-p">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="apps">
            <h3 class="our-portfolio-list-title">Taxi Service</h3>
            <p class="our-portfolio-text">Marketing</p>
          </div>
        </a>
      </li>
      <li class="our-portfolio-list-item">
        <a class="portfolio-link" href="">
          <div class="portfolio-img">
            <picture>
              <source
                srcset="
                  ./img/screen-illustrations.jpg    1x,
                  ./img/screen-illustrations@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/screen-illustrations-tablet.jpg    1x,
                  ./img/screen-illustrations-tablet@2x.jpg 2x
                "
                media="(min-width: 767px)"
              />
              <source
                srcset="
                  ./img/screen-illustrations-mobile.jpg    1x,
                  ./img/screen-illustrations-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./img/screen-illustrations.jpg"
                alt="screen illustrations"
              />
            </picture>
            <p class="overlay-p">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="apps">
            <h3 class="our-portfolio-list-title">Screen Illustrations</h3>
            <p class="our-portfolio-text">Design</p>
          </div>
        </a>
      </li>
      <li class="our-portfolio-list-item">
        <a class="portfolio-link" href="">
          <div class="portfolio-img">
            <picture>
              <source
                srcset="
                  ./img/online-courses.jpg    1x,
                  ./img/online-courses@2x.png 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  ./img/online-courses-tablet.jpg    1x,
                  ./img/online-courses-tablet@2x.jpg 2x
                "
                media="(min-width: 767px)"
              />
              <source
                srcset="
                  ./img/online-courses-mobile.jpg    1x,
                  ./img/online-courses-mobile@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/online-courses.jpg" alt="online courses" />
            </picture>
            <p class="overlay-p">
              14 Stylish and User-Friendly App Design Concepts · Task Manager
              App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud
              Storage App
            </p>
          </div>
          <div class="apps">
            <h3 class="our-portfolio-list-title">Online Courses</h3>
            <p class="our-portfolio-text">Marketing</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
