/* ----------------MOBILE-FIRST-SECTION---------------- */
.first-section {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover 1440px;
  background-clip: padding-box;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
}

.main-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.order-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 72px;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .first-section {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office-mobile@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover 1440px;
    background-clip: padding-box;
    max-width: 1440px;
    background-size: cover;
    margin: 0 auto;
  }
}

/* ------------TABLET-FIRST-SECTION------------ */
@media screen and (min-width: 768px) {
  .first-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office-tablet.jpg);
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
  }
}
@media screen and (min-resolution: 192px) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .first-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office-tablet@2x.jpg);
  }
}

/* --------------DESKTOP-FIRST-SECTION-------------- */
@media screen and (min-width: 1158px) {
  .first-section {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office.jpg);
  }
}
@media screen and (min-resolution: 192px) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .first-section {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/people-office@2x.jpg);
  }
}
